<div class="container">
    <div class="border p-2 mt-3">
        <h2>Welcome Guest</h2>
        <p>You can create a ticket, or login as an employee.</p>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="w-100 p-2" src="https://image.shutterstock.com/image-photo/tickets-being-held-hand-260nw-259503872.jpg" alt="">
        </div>
        <div class="col-7 m-2 border border-end-0 border-top-0 border-bottom-0 border-primary">
            <h2 class="pb-2 border border-end-0 border-top-0 border-start-0 border-3 border-primary">We are Awesome</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum explicabo necessitatibus obcaecati culpa provident ipsam impedit amet repellendus. Cupiditate quasi accusamus perferendis reprehenderit nihil cumque necessitatibus dolorem, fuga rem sint?</p>
            <button routerLink="/customer" class="m-1 btn btn-warning">Create a ticket</button>
            <button routerLink="/employee" class="m-1 btn btn-secondary">Employee login</button>
        </div>
    </div>
</div>